
body{
    /* background-color: #A8DADC; */
    font-family: 'Overpass', sans-serif;
    background-image: url("../assets/background/Friday.jpg");
    background-size: cover;
    color: #111;
}

.content{
    /* width: 80%; */
    height: 75%;
    background-color: #fff;
    /* background-image: url("../assets/background/EveningSunshine.jpg"); */
    position: fixed; /*Can also be `fixed`/`absoulute`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
    /* max-width: 100%; */
    max-height: 100%;
    overflow: hidden;
    padding: 0;
}

.div-content-1{
    width: 70px;
    height: 100%;
    float:left;
    color: #fff;
    background-color: #1D3557;
}

.div-content-2{
    width: 215px;
    height: 100%;
    float: left;
    /* border-right: #cfcfcf 2px solid; */
    /* background-color: #A8DADC; */
}

.div-content-3{
    width: calc(100% - 215px - 70px);
    height: 100%;
    float:left;
}

.img-border{
    width: 200px;
    height: 200px;
    background-color: #9edaff;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 65px;
    overflow: hidden;
}

.img-me{
    /* width: 120%;
    height: 130%; */
    width: 240px;
    height: 260px;
    margin-left: -12px;
}

/* left-menu */
.toggle-leftmenu{
    background-color: #96c4e4;
    color: #fff;
    padding: 5px;
    font-size:30px;
    cursor: pointer;
}

.toggle-leftmenu:hover{
    color: #111;
}

.side-menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
    background-color: #1D3557;
    font-size: 25px;
}

.side-menu-list > a >div{
    text-align: center;
    padding: 15px 0;
    color: #fff;
}

.side-menu-list > a >div:hover{
    background-color:  #96c4e4;
}

@media only screen and (max-height: 600px){
    .side-menu-list{
        margin-top: 0;
    }
}

@media only screen and (max-width: 850px){
    .content{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: fixed; /*Can also be `fixed`/`absoulute`*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    
    .div-content-1{
        width: 70px;
        height: 100%;
        
        float: left;
    }
    
    .div-content-2{
        display: none;
    }
    
    .div-content-3{
        width: calc(100% - 70px);
        height: 100%;
        float: left;
    }

    .main-contents{
        left: 80px!important;
        padding-right: 10px;
        overflow: hidden;
    }

    .heading{
        height: auto;
    }
}

/* Side Nav Starts */

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    overflow-y: hidden;
}

.sidenav-menu{
    height: 40%;
    margin: 40px auto;
    text-align: center;
}

.sidenav-menu a {
    padding: 8px 8px 32px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav-menu a:hover {
    color: #f1f1f1;
  }
  

.sidenav .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .side-menu-list > div{ padding: 5px 0!important;}
    .side-menu-list{font-size: 15px;}
    h1{font-size: 2.6rem;}
  }

  /* Side Nav Stops */

  @media screen and (max-width: 450px){
    h1{font-size: 2.6rem!important;}
  }

  @media screen and (min-width: 992px){
    .img-border{
        width: 300px;
        height: 300px;
        top: 20%;
    }

    .img-me {
        width: 340px;
        height: 360px;
        margin-left: -12px;
    }

    .div-content-2{
        width: 315px;
    }

    .div-content-3{
        width: calc(100% - 315px - 70px);
    }

    .main-contents{
        left: 390px!important;
    }
  }

.main-contents{
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 290px;
    right: -14px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* padding-right: 10px; */
}

h1{
    font-weight: 900;
    font-size: 4.5rem;
}

.sub-content{
    margin: 0;
    padding: 20px;
}

.content-body{
    color: grey;
}

.heading{

}